.jumbotron
{
    text-align: center;
}
img
{
    margin: 5px;
}
#tingting:hover
{
    background-color: white;
}
.upboard
{
    position: fixed;
    width: 80%;
    top: 10%;
    margin: auto;
    z-index: 9999;
}
.upboard p
{
    font-size: 4em;
}