.jumbotron
{
    text-align: center;
}

.upboard
{
    position: absolute;
    width: 80%;
    top: 10px;
    left: 10%;
    z-index: 9999;
}

.upboard p
{
    font-size: 4em;
}

img
{
    margin: 5px;
}

#tingting:hover
{
    background-color: white;
}
#savescore
{
    background-color: #3c763d;
}
#abundon
{
    background-color: #c7254e;
}